---
import CategoriesList from '@/components/CategoriesList.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Competencia - Kingsoft League">
    <h1 class="text-xl uppercase text-primary px-2 py-1 mb-9 font-medium">
        Conoce nuestras competencias
    </h1>

    <CategoriesList />
</Layout>