<div></div>


<style>
  div {
    position: fixed;
    background-image: url('/noise.png');
    background-repeat: repeat;
    inset: -50%;
    height: 200vh;
    pointer-events: none;
    width: 200%;
    animation: noise 0.2s infinite;
    z-index: 999999;
  }

  @media (prefers-reduced-motion: reduce) {
    div {
      animation: none;
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(-5%, -5%, 0);
    }

    10% {
      transform: translate3d(-5%, -5%, 0);
    }

    20% {
      transform: translate3d(-10%, 5%, 0);
    }

    30% {
      transform: translate3d(5%, -10%, 0);
    }

    40% {
      transform: translate3d(-5%, 15%, 0);
    }

    50% {
      transform: translate3d(-10%, 5%, 0);
    }

    60% {
      transform: translate3d(15%, 0, 0);
    }

    70% {
      transform: translate3d(15%, 0, 0);
    }

    80% {
      transform: translate3d(10%, 5%, 0);
    }

    90% {
      transform: translate(5%, 10%, 0);
    }

    100% {
      transform: translate(0, 0, 0);
    }
  }
</style>
