---

---
<section class="flex flex-col justify-center items-center">
    <span class="text-xl uppercase text-primary bg-secondary px-2 py-1 mb-9 font-medium">
        Hola, Somos <i class="text-yellow-500">Kingsoft</i>
    </span>
    <img src="logo.webp" alt="Logo de Kingsoft" class="h-28 w-28">
</section>