<section
  class="mt-32 mx-auto flex flex-col justify-center items-center text-center"
>
  <h2 class="uppercase text-5xl font-semibold">
    4 de Mayo<span aria-hidden class="hidden md:inline mx-1">·</span><br
      aria-hidden
      class="block md:hidden"
    /><span>
      <script is:inline>
        const END_DATE = 1714834800000
        const d = new Date(END_DATE)
        const date = d.toLocaleTimeString("en-Us", {
            hour: "2-digit",
            minute: "2-digit",
        })

        

        const selfScript = document.currentScript
        selfScript.parentNode.innerHTML = `${date}`
      </script>
    </span>
  </h2>

  <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
    <span>Competencia de Robots</span>
    <span>Senati Huánuco</span>
  </h3>

  <a
    class={`
        border-primary border-2 font-medium uppercase text-lg
        px-4 py-1 mt-8
        hover:text-primary hover:bg-slate-900 hover:scale-125 transition inline-block
    `}
    href=""
    target="_blank"
    rel="noopener noreferrer"
  >
    Inscríbete
  </a>
</section>
