---
import Header from '@/components/Header.astro'
import Noise from '@/components/Noise.astro'
import '@fontsource-variable/jost'
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pagina de Kingsoft League para la competencia de robots en Huánuco" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href=""/>
    <title>{title}</title> 
    <ViewTransitions />
  </head>
  <body class="">
    <Noise />
    <Header />
    <div class="max-w-6xl px-2 lg:px-10 pt-40 mx-auto text-primary">
      <slot />
    </div>
  </body>
</html>

<style is:global>

  :root {
    --color-primary: #ddd;
    --color-secondary: #333;
    --color-accent: #fbbf24;
    
    --background-color: #040220;
  }

  html {
    font-family: 'Jost Variable', system-ui, sans-serif;
    background: var(--background-color);
    scrollbar-gutter: stable; 
  }
</style>
